# SDK generator
.openapi-generator-ignore
.openapi-generator/VERSION
/.project

# credentials files
*.env

# IDE files
*.idea
.vscode/
*.log


# files produced by "npm install" commands during build
package-lock.json
node_modules/
